body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.kinetic-loader {
    width: 50px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    border: 5px solid;
    border-color: #E5EBEA #E5EBEA transparent transparent;
    animation: rotation 1s linear infinite;
  }
  .kinetic-loader::after,
  .kinetic-loader::before {
    content: '';  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid;
    border-color: transparent transparent #B098A4 #B098A4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }
  .kinetic-loader::before {
    width: 32px;
    height: 32px;
    border-color: #747572 #747572 transparent transparent;
    animation: rotation 1s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      